.grid {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 498px) {
  .grid {
    flex-flow: column-reverse;
  }
}

.bigContainer {
  flex: 1 0 21%;
  margin: 5px;
  height: 350px;
  width: fit-content;
  background-color: #2b3743;
}

img {
  height: 200px;
  width: 100%;
}

.container {
  padding: 10px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
