.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.form-control input {
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.5px;
  width: 50%;
}

input::placeholder {
  color: white;
}

.filter .region-filter .select {
  background-color: #2b3743;
  color: white;
  padding: 8px;
  width: 250px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.button {
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.5px;
  width: 10%;
}
